@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@500&family=Oxygen:wght@500&family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-display: optional;
    /* font-family: 'Martel Sans', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.7)), url('/img/IN-en-20230612-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home-color {
    z-index: 2;
    box-shadow: inset 3px 3px 3px black;
}

.home-first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* -----------------nav bar css satared ------------------------*/

.nav-bar img {
    width: 200px;
    padding-right: 26%;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-bar button,
select {
    height: 47px;
    margin: 10px 10px;
}

.nav-bar button {
    background: #e50914;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;

}

/* -----------------nav bar css Ended ------------------------*/









/* -----------class for language button on header and footer------------ */
.lang {
    padding: 7.2px 30px;
    margin: 2px;
    background-color: transparent;
    color: white;
    box-shadow: inset 0px 20px 50px rgb(27, 26, 26);
    border-radius: 7px;
    text-align: center;
    width: 160px;
}

/* -----------class for language button on header and footer------------ */






/* home-second input and button part css started */


.home-second {
    position: relative;
    top: 37%;
    margin: auto;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
}

.home-second h1 {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;

}

.home-second h3 {
    font-size: 30px;
    font-weight: 10;
}

.home-second h4 {
    font-size: 25px;
    font-weight: 10;
}

.home-second .input-button {
    margin: 20px;
    display: flex;
    justify-content: center;
}


.input-button :where(input, button) {
    height: 60px;
    margin-top: 30px;
}

.home-second .input-button input {
    background-color: transparent;
    box-shadow: inset 0px 20px 50px rgb(27, 26, 26);
    color: white;
    margin-right: 10px;
    width: 30%;
    padding: 0px 10px;
    border-radius: 7px;
}

.home-second .input-button button,
.submit-button {
    color: white;
    background-color: #e50914;
    width: 10%;
    font-size: 20px;
    margin-left: 10px;
    outline: none;
    border-radius: 8px;
}

/* div line gray */
.blank-line {
    height: 10px;
    width: 100%;
    background-color: #3f3e3e;
}

/* enjoy part start */

.main-body-enjoy {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: flex-start;
    min-height: auto;
    padding: 4rem 0;
}

.main-body-enjoy .text-area {
    position: relative;
    top: 110px;
    left: 90px;
    font-size: 30px;
}

.main-body-enjoy img {
    height: 420px;
    width: 37%;
}

.main-body-enjoy p {
    font-size: 30px;
}


/* enjoy part End */


.footer {
    padding: 70px 12% 10px;
    color: rgb(195, 193, 193);
    background-color: black;
    height: 500px;
}



.footer .call span {
    text-decoration: underline;
}

.footer .list {
    padding-top: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    margin-bottom: 10px;
    color: #bab3b3;
    text-decoration: underline;
    padding: 5px;
}

.footer .row {
    display: flex;
    padding-top: 30px;
}

.footer h5 {
    padding-top: 25px;
}



/* ----download--part--------- */


.download {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding-top: 60px;
    color: white;
    padding-bottom: 100px;
}

.download img {
    height: 410px;
    width: 95%;
}

.download .download-text {
    margin: auto 5px;
}

.download-text h1 {
    font-size: 70px;
    padding-bottom: 20px;
}

.download-text h5 {
    font-size: 30px;
    font-weight: 10;
}

.download .animated {
    position: absolute;
    top: 56%;
    left: 23%;
    height: 100px;
    width: 20%;
    display: flex;
    border-radius: 15px;
    border: 1px solid #bab3b3;
    align-items: center;
    padding: 10px 10px;
    background-color: black;
}

.animated span {
    color: #0071eb;
}

.animated img {
    height: 80px;
    width: 20%;
    margin-right: 20px;
}



/* ----------watch---------part--------------- */

.watch {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px 0px 100px 0px;
}

.watch-text {
    position: relative;
    margin: auto 10px;
}

.watch-text h1 {
    font-size: 70px;
    padding-bottom: 20px;
}

.watch-text p {
    font-size: 30px;
    font-weight: 1px;
}




/* --------kids--part--------------- */

.kids {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px 0px 100px 0px;
}

.kids-text {
    position: relative;
    margin: auto 10px;
}

.kids-text h1 {
    font-size: 70px;
    padding-bottom: 20px;
}

.kids-text p {
    font-size: 30px;
    font-weight: 1px;
}


/* -----------------frequent-------------- */

.freq {
    display: grid;
    width: auto;
    justify-content: space-around;
    text-align: start;
    background-color: black;
    color: white;
    padding-top: 80px;
}

.freq h1 {
    display: flex;
    justify-content: center;
    font-size: 65px;
    margin-bottom: 20px;
}

.freq h2 {
    font-size: 28px;
    padding: 30px;
}

.freq .btn {
    border-radius: none !important;
    outline: none;
    background-color: #3f3e3e;
    color: #ffffff;
    border: none;
    font-size: 60px;
    font-weight: 100;
    margin-right: 30px;

}

.questions {
    height: 90px;
    background-color: #3f3e3e;
    margin: 5px;
    width: 1100px;
    display: flex;
    justify-content: space-between;
}

.freq .email {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    padding-bottom: 100px;
}

.email input{
    width: 60%;
    height: 70px;
    margin-left: 10%;
    padding-left: 20px;
    background-color: #1c2432;
    border: 1.5px solid green;
}

.email button{
    width: 19%;
    height: 70px;
    display: inline;
    justify-content: center;
    font-size: 25px;
    border: none;
    padding: 20px 7px;
}