@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@500&family=Oxygen:wght@500&family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-display: optional;
    /* font-family: 'Martel Sans', sans-serif; */
    /* font-family: 'Oxygen', sans-serif; */
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.7)), url('/img/IN-en-20230612-popsignuptwoweeks-perspective_alpha_website_large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 110vh;
    display: block;
    align-items: center;
    justify-content: center;
}

.home-color {
    z-index: 2;
    box-shadow: inset 3px 3px 3px black;
}

.home-first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* nav bar css satared */

.nav-bar img {
    width: 200px;
    padding-right: 26%;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-bar button,select{
    height: 47px;
    margin: 10px 10px;
}

.nav-bar button {
    background: #e50914;
    color: white;
    padding: 5px 20px;
    border-radius: 7px;

}

.lang {
    padding: 7.5px 30px;
    background-color: transparent;
    color: white;
    box-shadow: inset 0px 20px 50px rgb(27, 26, 26);
    border-radius: 7px;


}

/* home-second input and button part css started */


.home-second {
    position: relative;
    top: 37%;
    margin: auto;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
}

.home-second h1 {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;

}

.home-second h3 {
    font-size: 30px;
    font-weight: 10;
}

.home-second h4 {
    font-size: 25px;
    font-weight: 10;
}

.home-second .input-button {
    margin: 20px;
    display: flex;
    justify-content: center;
}


.input-button :where(input, button) {
    height: 60px;
    margin-top: 30px;
}

.home-second .input-button input {
    background-color: transparent;
    box-shadow: inset 0px 20px 50px rgb(27, 26, 26);
    color: white;
    margin-right: 10px;
    width: 30%;
    padding: 0px 10px;
    border-radius: 7px;
}

.home-second .input-button button {
    color: white;
    background-color: #e50914;
    width: 10%;
    font-size: 20px;
    margin-left: 10px;
    outline: none;
    border-radius: 8px;
}

/* div line gray */
.blank-line{
    height: 10px;
    width: 100%;
    background-color: #3f3e3e;
}

/* enjoy part start */

.main-body-enjoy{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: flex-start;
    min-height: auto;
    padding: 4rem 0;
}

.main-body-enjoy .text-area{
    position: relative;
    top: 110px;
    left:90px;
    font-size: 30px;
}

.main-body-enjoy img{
    height: 420px;
    width: 37%;
}

.main-body-enjoy p{
    font-size: 30px;
}


/* enjoy part End */


.footer{
    padding: 30px 15% 10px;
    color: rgb(195, 193, 193);
    background-color: black;
    height: 500px;
}



.footer .call span{
    text-decoration: underline;
}

.footer .list{
    padding-top: 30px;
}

.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a{
    display: block;
    margin-bottom: 10px;
}

.footer .row{
    display: flex;
    padding-top: 30px;
}